@use 'vars' as vars;

:host {
  display: flex;
  align-items: center;
  height: vars.$dimension-md;
  padding: vars.$spacing-lg;
  background-color: vars.$primary-orange;

  &.Todo {
    background-color: vars.$info;
  }

  &.Done {
    background-color: vars.$success;
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: vars.$text-light;
  }
}
