@use 'vars' as vars;

:host {
  display: block;

  mat-divider {
    margin-top: vars.$spacing-lg;
    margin-bottom: vars.$spacing-lg;
  }

  .task-manager-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: vars.$spacing-lg;
  }
}